.navbar-brand {
    font-size: 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.nav-link {
    font-weight: 500;
}

.navbar .icon {
    height: 16px;
    width: 16px;
}

.navbar {
    box-shadow: 0 8px 6px -6px #999;
}