.sidebar {
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .icon {
    height: 16px;
    width: 16px;
}

.sidebar .active,
.sidebar .active:focus {
    color: #007bff!important;
}